apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: library-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 379632383754.dkr.ecr.us-east-1.amazonaws.com/library-backend:v1
        ports:
        - containerPort: 5000
